* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url('../imgs/main.jpg');
    background-size: cover;
    overflow: hidden;
}

button {
    position: relative;
    padding: 19px 36px;
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    border-radius: 40px;
    border: none;
    margin: 15px 0;
    cursor: pointer;
    &:hover .liquid {
        top: -120px;
    }
    .liquid {
        position: absolute;
        top: -80px;
        left: 0;
        width: 100%;
        height: 230px;
        background: purple;
        box-shadow: inset 0 0 50px rgba(0, 0, 0, .5);
        transition: .5s;
        &::after,
        &::before 
        {
            content: '';
            width: 200%;
            height: 200%;
            position: absolute;
            top: 0;
            left: 50%;
            transform: translate(-50%, -75%);
            background: #fff;
        }
        &::before {
            border-radius: 45%;
            background: rgba(20, 20, 20, 1);
            animation: animate 5s linear infinite;
        }
        &::after {
            border-radius: 40%;
            background: rgba(20, 20, 20, .5);
            animation: animate 10s linear infinite;
        }
    }
    span {
        position: relative;
        color: #fff;
        font-family: Arial;
        letter-spacing: 2px;
        z-index: 1;
    }
   

   
    @keyframes animate {
        0% {
            transform: translate(-50%, -75%) rotate(0deg);
        }
    
        100% {
            transform: translate(-50%, -75%) rotate(360deg);
        }
    }
}

.flex{
    display: flex;
    width: 100%;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    .btns {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    
    .title {
        font-size: 2rem;
        font-weight: 800;
        h1 {
            font-size: 2.5rem;
        }
    }
}






