<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="../asset/css/index.css">
</head>

<body>
    <div class="flex">
        
        <div class="title">
            <h1>
                <p class="typewrite" data-period="2000" data-type='[ "Hi, Welcome To My Gaming Website", "You Can Choose Witch Game You Want To Play "]'>
                  <span class="wrap"></span>
                </p>
              </h1>
        </div>
        <div class="btns">
            <button data-snake>
                <span>Snake</span>
                <div class="liquid"></div>
            </button>
            <button data-xo>
                <span>XO</span>
                <div class="liquid"></div>
            </button>
            <button data-rock-paper-scissors>
                <span>Rock Paper Scissors</span>
                <div class="liquid"></div>
            </button>
            <button>
                <span>Button</span>
                <div class="liquid"></div>
            </button>
        </div>
    </div>


    <script src="../asset/js/main.js"></script>
</body>

</html>